.img {
  width: 150px;
  height: 150px;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
span{
  color: DimGray;
}
.toolbtn{
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-bottom: 40px;
  
}
.plusbtn,.minusbtn{
  font-size: 20px;
  
}
mat-toolbar{
  height: 85px;
  font-size: 30px;
}